html, body {
  height: 99vh;
  width: 99vw;
}

body {
  overflow: hidden;
  padding: 0px;
  box-sizing: border-box;
}

.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.window {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 700px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  user-select: none;
  border-radius: 15px;
}

.titlebar {
  height: 32px;
  background: linear-gradient(180deg, rgba(114,123,125,0.5) 0%, rgba(114,123,125,0.5) 96%, rgba(110, 110, 110, 0.9) 96%, rgba(110, 110, 110, 0.9) 100%);
  cursor: default;
  font-weight: bold;
  color: white;
  user-select: none;
  backdrop-filter: blur(35px);
}

.titlebar .title {
  float: left;
  margin-left: 5px;
  line-height: 30px;
}

.titlebar .buttons {
  float: right;
  margin-right: 4px;
  line-height: 30px;
  display: flex;
  margin-top: 4px;
}

.titlebar .buttons button {
  float: right;
  width: 100%/3;
  height: 100%;
  cursor: pointer;
}

.close {
  color: white;
  background-color: red;
  border-radius: 5px;
  border-color: #00000000;
  font-weight: bolder;
}

.maximize {
  color: white;
  background-color: skyblue;
  border-radius: 5px;
  border-color: #00000000;
  font-weight: bolder;
}

.minimize {
  color: white;
  background-color: skyblue;
  border-radius: 5px;
  border-color: #00000000;
  font-weight: bolder;
}  

.content {
  height: calc(468px);
  overflow: hidden;
  padding: 3px;
  box-sizing: border-box;
  background-color: #FFFFFFC0;
  backdrop-filter: blur(96px) saturate(250%);
}

.page-navbar {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 96%, rgba(178, 178, 178, 0.9) 96%, rgba(178, 178, 178, 0.9) 100%);
  width: 100%;
  height: 32px;
  display: inline;
  position: fixed;
  left: 0px;
  top: 0px;
}